[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
jupyter = "*"

[packages]
numpy = "*"
opencv-python = "*"
scipy = "*"
ml-metrics = "*"
tqdm = "*"
fire = "*"
pillow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
